.dashboard-container {
  padding: 1rem 0.3rem;
}

.dashboard {
  min-height: 85vh;
  padding: 1.5rem;
  height: 100%;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.form {
  display: grid;
  grid-template-columns: 2fr;
  gap: 1.5rem;
}

.header {
  margin-bottom: 2rem;
}

.header h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #495057;
}
.icon {
  float: right;
  font-size: 3rem;
}
